<div class="container">
  <div class="header">
    <h1 class="title">{{ title }}</h1>
    <a uiSref="newTrip">
      <button class="btn add-trip-btn">+ Add a Trip</button>
    </a>
  </div>

  <div class="money-form-container">
    <div class="form-container">
      <form class="form-inline" name="money-form">
        <label for="inputTotalMoney">Total money:</label>
        <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputTotalMoney" name="totalMoney" [ngModel]="totalMoney" (ngModelChange)="totalMoneyChanged($event)">
      </form>
    </div>
    <div class="remaining-amount-container">
      Remaining money to book trip: <strong>{{ pendingAmount | currency: "USD" }}</strong>
    </div>
  </div>

  <div class="trips-list">
    <div class="trip" *ngFor="let trip of trips">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 trip-image-container">
          <img [src]="trip.image_url" class="trip-image">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 trip-info">
          <div>
            <div class="trip-name">{{ trip.name }}</div>
            <div class="trip-price">{{ trip.price | currency:"USD" }}</div>
          </div>
          <div class="trip-duration">{{ trip.duration }}</div>

          <div class="row trip-description-container">
            <div class="col-md-8 trip-description">{{ trip.description }}</div>
            <div class="col-md-4">
              <button class="btn btn-lg book-btn">Book Trip</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
