@import '../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.header {
  margin-top: 35px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);

  .title {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
  }

  .add-trip-btn {
    float: right;
    margin: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.money-form-container {
  font-size: 20px;
  margin-bottom: 30px;

  .form-container,
  .remaining-amount-container {
    display: inline-block;
  }

  .form-container {
    #inputTotalMoney {
      margin-left: 10px;
      color: #fff;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .remaining-amount-container {
    float: right;
  }
}

.trip {
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 24px 0 rgba(255, 255, 255, 0.3);
  border: solid 1px rgba(255, 255, 255, 0.3);

  .trip-image-container {
    display: inline-block;
    padding: 10px 10px 10px 35px;

    @include media-breakpoint-down(xs) {
      text-align: center;
      padding: 10px 35px;
    }

    .trip-image {
      max-height: 150px;
      max-width: 150px;
    }
  }

  .trip-info {
    display: inline-block;
    padding: 20px 35px 20px 20px;

    @include media-breakpoint-down(xs) {
      text-align: center;
      padding: 20px 35px;
    }
    
    .trip-name {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
    }

    .trip-price {
      font-size: 20px;
      font-weight: bold;
      text-align: right;
      float: right;
      
      @include media-breakpoint-down(sm) {
        float: none;
        display: inline-block;
      }
    }

    .trip-duration {
      font-size: 14px;
    }

    .trip-description-container {
      margin-top: 20px;
      
      .trip-description {
        // line-height: 1.5;
      }
  
      .book-btn {
        float: right;
        padding: 5px 30px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
          float: none;
          margin-top: 15px;
        }

        @include media-breakpoint-down(xs) {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.form-container {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  padding: 30px;
  max-width: 700px;

  .form-actions {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;

    .submit-btn {
      font-weight: bold;
    }
  }
}