.header {
  margin-top: 35px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);

  .title {
    display: inline-block;
    font-size: 38px;
    font-weight: bold;
  }
}

.form-container {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  padding: 30px;
}