@font-face {
    font-family:myFont;
    src: url(font/simple.otf);
}



/*HEADER STARTS HERE*/
.header{
  background-color: black;
  background: linear-gradient(90deg,rgb(0,0,0),rgb(110,110,110));

  min-height: 250px;
  width: 1500px;
    
    .title{
      color:white;
      font-family: myfont;
      font-size: 40px;
      padding-top: 20px;
      }
  
  .menu{
    padding-top: 40px;
    
    .btn-link{
      color: white;
    }
    .btn-default{
      border-radius: 25px;
    }
    
  }
}

/*HEADER ENDS HERE*/

.component{
box-shadow: 0px 0px 5px 1px grey;
  border-radius: 5px;
  background-color:white;
}

.bigtext{
  font-size: 30px;
  line-height: 150%;
  text-align:left;
  color:#545454;  
}

.smalltext{
  font-size: 20px;
  line-height: 150%;
  text-align:left;
  color:#545454*1.5;  
}

.micro-header{
  font-size: 20px;
  line-height: 150%;
  text-align:left;
  color:deepskyblue; 
  margin-top: 20px;
  font-weight: 900;
}
.text-box{
  background-color:white;
  background: white;
}

#myCarousel{
  margin-top: -150px;
}

//css for footer starts here//
a {
    font-size: 20px;
    color: black;
}
.row {
    background-color: whitesmoke;
    padding-top: 30px;
    h4 {
        font-weight: 500;
        line-height: 200%;
        border-bottom: 2px solid grey*1.6;
        margin-left: 40px;
        margin-right: 40px;
    }
    p {
        font-weight: 300;
        color: grey*1.2;
        font-size: 20px;
        line-height: 150%;
        margin-left: 40px;
    }
}
//css for footer ends here//